
<html>

    <title>Predict</title>
    <style>
       .center{width: 100vw;justify-content: center;align-items: center; display: flex; flex-direction: column;}
    </style>
    <body>
       <div class="center">
        <h1>Upload an image to see the result</h1>
         <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Submit">
         </form>
         <br></br>
         {% if img %}
            <h1>Input Image</h1>
            <img src="{{ img }}"></img>
         {% endif %}
         {% if dewarp %}
             <h1>Dewarped Image</h1>
             <img src="{{ dewarp }}"></img>
          {% endif %}
          </div>
    </body>
</html>
